<!doctype html>
<html>
  <head>
    <title>Manage Backups</title>
  </head>
  <body>
    <h1>Select operation</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <input type="radio" id="create" name="operation" value="backup">
      <label for="create">Create Backup</label><br>
      <input type="radio" id="restore" name="operation" value="restore">
      <label for="restore">Restore Backup</label><br>
      <p><input type="submit" value="Submit operation"></p>
    </form>
  </body>
</html>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}